[submodule "lv_drivers"]
	path = lv_drivers
	url = git@github.com:lvgl/lv_drivers.git
[submodule "lv_demos"]
	path = lv_demos
	url = git@github.com:lvgl/lv_demos.git
[submodule "lvgl"]
	path = lvgl
	url = git@github.com:lvgl/lvgl.git
